@import '../../../App.scss';

.sign-in {
  margin-top: 30px;
  text-align: center;
  .heading-3 {
    @include typography(40px, 1.5, bold, $secondary-color);
  }
  .link {
    @include typography(16px, 1.5, bold, $primary-color);
  }
  .form {
    display: flex;
    flex-direction: column;
    &-btn {
      display: flex;
      justify-content: flex-end;
    }
  }
}
