$primary-color: #5cb85c;
$secondary-color: #373a3c;
$third-color: #333333;
$light-gray: #bbb;
$medium-gray: #999999;
$dark-gray: #373a3c;
$white-color: white;
$gray-color: #f0f0f0;
$border-color: rgba(0, 0, 0, 0.1);
$border-color-light: rgba(0, 0, 0, 0.15);
$focus-border-color: #66afe9;
$border-color: #e0e0e0;
$text-color: #333;
$text-light: #666;
$text-lighter: #999;
$text-content: #373a2c;
$bg-light: #f5f5f5;
$bg-footer: #f3f3f3;
$link-footer: #bbbbbb;
$delete: #dd0000;
