@import '../../../App.scss';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
  &-link {
    @include typography(24px, 1.5, bold, $primary-color);
  }
  &-menu {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    align-items: center;

    .menu-link {
      @include typography(16px, 1.5, normal, $border-color);
    }
    .active {
      color: $secondary-color;
    }
  }
}
