@import '../../../App.scss';
.editProfile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  .heading {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
}
